{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
      <h5 class="display-4">Admin Panel</h5>
      <form method="post">
        <textarea id="admin" class="form-control" name="admin" placeholder="Enter query"
        value="{{ request.form['admin'] }}" rows="3">
        </textarea>
        <input type="submit" class="btn btn-primary" name="btn" value="Submit Query">
      </form>
    </div>
    <div class="jumbotron">
      <div id="formContent">
        <h1 class="display-4">Update App Version</h1>
        <hr>
    
        <form method="post">
          <input type="text" id="updateapp" class="form-control" name="appname" placeholder="Enter App Name"
          value="{{ request.form['appname'] }}" required>
          <input type="text" id="updateapp" class="form-control" name="platformid" placeholder="Enter PlatformID"
          value="{{ request.form['platformid'] }}" required>
          <input type="text" id="updateapp" class="form-control" name="newversion" placeholder="Enter Updated Version"
          value="{{ request.form['newversion'] }}" required>
          <input type="submit" class="btn btn-primary" name="btn" value="Update">
        </form>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">App Name</th>
            <th scope="col">PlatformID</th>
            <th scope="col">Version</th>
          </tr>
        </thead>
          <tbody>
            {% for app in apps %}
            <TR>
              <TD class="c1">{{ app['AppName'] }}</TD>
              <TD class="c2">{{ app['PlatformID'] }}</TD>
              <TD class="c3">{{ app['Version'] }}</TD>
            </TR>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="jumbotron">
      <div id="formContent">
        <h1 class="display-4">Add New Video</h1>
        <hr>
    
        <form method="post">
          <input type="text" id="newvideo" class="form-control" name="videoid" placeholder="Enter VideoID"
          value="{{ request.form['videoid'] }}" required>
          <input type="text" id="newvideo" class="form-control" name="title" placeholder="Enter Title"
          value="{{ request.form['title'] }}" required>
          <input type="text" id="newvideo" class="form-control" name="description" placeholder="Enter Description"
          value="{{ request.form['description'] }}" required>
          <input type="text" id="newvideo" class="form-control" name="releasedate" placeholder="Enter Release Date FORMAT: XXXX-XX-XX, YEAR,MONTH,DAY"
          value="{{ request.form['releasedate'] }}" required>
          <input type="text" id="newvideo" class="form-control" name="duration" placeholder="Enter Duration FORMAT: 00:00:00, HOURS:MINUTES:SECONDS"
          value="{{ request.form['duration'] }}" required>
          <input type="text" id="newvideo" class="form-control" name="isfree" placeholder="Enter 0 for paid or 1 for free"
          value="{{ request.form['isfree'] }}" required>
          <input type="text" id="newvideo" class="form-control" name="hostingapp" placeholder="Enter Hosting App"
          value="{{ request.form['hostingapp'] }}" required>
          <input type="text" id="newvideo" class="form-control" name="season" placeholder="Enter Season: Leave blank if null"
          value="{{ request.form['season'] }}">
          <input type="submit" class="btn btn-primary" name="btn" value="Create Video">
        </form>


      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">VideoID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Release Date</th>
            <th scope="col">Duration</th>
            <th scope="col">Free?</th>
            <th scope="col">Hosting App</th>
            <th scope="col">Season</th>
          </tr>
        </thead>
          <tbody>
            {% for video in videos %}
            <TR>
              <TD class="c1">{{ video['VideoID'] }}</TD>
              <TD class="c2">{{ video['Title'] }}</TD>
              <TD class="c3">{{ video['Description'][:25] + (video['Description'][25:] and '...') }}</TD>
              <TD class="c4">{{ video['ReleaseDate'] }}</TD>
              <TD class="c5">{{ video['Duration'] }}</TD>
              <TD class="c6">{{ video['isFree'] }}</TD>
              <TD class="c7">{{ video['HostingApp'] }}</TD>
              <TD class="c8">{{ video['Season'] }}</TD>
            </TR>
            {% endfor %}
          </tbody>
        </table>
    </div>

    <div class="jumbotron">
      <h5 class="display-4">Revenue Report</h5>
      {% for country in countries %}
          {% if revenue[country['Country']] %}
              
              <a style="color:#9932CC;" >
                  <h2>{{ country['Country'] }}</h2>
                  
              </a>
              <table class="table">
                  <thead>
                      <tr>
                        <th scope="col">App Name</th>
                        <th scope="col">Revenue</th>
                      </tr>
                    </thead>
                  <tbody>
              {% for app in revenue[country['Country']] %} 
                      <TR>
                          <TD class="c1">{{ app['name'] }}</TD>
                          <TD class="c2">${{ app['revenue'] }}</TD>
                      </TR>
                  {% endfor %}
                  </tbody>
                  </table>
                  {% endif %}
              {% endfor %}
              </div>
      </div>
    </div>

    
{% endblock %}