{% extends 'base.html' %}

{% block content %}
      <h5 class="display-4">Revenue Report</h5>
    
    
    {% for country in countries %}
    <div class="jumbotron">
    <a style="color:#9932CC;" >
        <h2>{{ country['Country'] }}</h2>
        <hr>
    </a>
      {% for app in revenue[country['Country']] %} 
      <a>
            <h4>{{ app['name'] }}</h2>
        </a>
        <span class="badge badge-dark">${{ app['revenue'] }}</span>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}