{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h4 class="display-3">{{ video['Title'] }}</h4>
    <p class="lead">{{ video['Description'] }}</p>
    <form action="{{ url_for('addvideo', videoid=video['VideoID']) }}" method="POST">
        <input type="submit" value="Add to List"
                class="btn btn-primary btn-lg"
                onclick="return confirm('Are you sure you want to add this video to your MyList?')">
        </form>
    <hr class="my-4">
    <p class="lead">
        Release Date: {{ video['ReleaseDate'] }}
        </p>
    <p class="lead">
        Duration: {{ video['Duration'] }}
    </p>
    <p class="lead">
        Free?: 
        {% if video['isFree'] == '1' %}
            Yes
        {% else %}
            No
        {% endif %}        
    </p>
    <p class="lead">
        Hosting App: {{ video['HostingApp'] }}
    </p>
    <form action="{{ url_for('watchvideo', videoid=video['VideoID']) }}" method="POST">
        <input type="submit" value="Watch Video"
                class="btn btn-primary btn-lg">
       </form>
       <form action="{{ url_for('likevideo', videoid=video['VideoID']) }}" method="POST">
        <input type="submit" value="Like Video"
                class="btn btn-success btn-lg"
                onclick="return confirm('Are you sure you want to like this video?')">
       </form>
  </div>

{% endblock %}